*{
    margin: 0;
    padding: 0;
    border: 0;
}

.nevbar{
width: 100%;
height: 70px;
background-color: #4A4E69; 
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;



}

.nev-logo{

height: 60px;
width:14%;
display: flex;
align-items: center;



}

.logo{
background-image: url(images/real-logo2.png);
background-size: cover;
height:60px;
width: 100%;
justify-content: center;
align-items: center;
margin: 5px;



}

.nev-secrch{
    width: 70%;
    height: 64px;
    background-color: #22223B;
    margin: 2px;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 700px;
    

    
}

.nev-srch{

    height: 50px;
    width: 90%;
    background-color: #F2E9E4;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
}
.search-select{

   border-bottom-left-radius: 20px;
   border-top-left-radius:20px ;
    height: 50px;

}

.search-input{
    height: 50px;
    width: 95%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}



.nev-location{
    height: 60px;
    width:14%;
    display: flex;
    align-items: center;
}

.main-content{
    width: 100%;
    height: auto;
    background-color: #9A8C98;
}
.main-content-img{
    width: 100%;
    height: auto;
    margin-left: 2px;
    border-radius: 5px;
}
.main-content-img img {
    width: 350px;
    height: 90px;
    margin: 10px;
    border-radius: 5px;
}

.main-content-nxtwave{
    width: 98%;
    height: 80px;
    background-color: #C9ADA7;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
}
.nxtwave-content{
    height: 40px;
    width: 20%;
    padding: 10px;
    background-color: #F2E9E4;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nxtwave-content p {
    font-size: 25px;
    font-weight: bold;
    color: #22223B;
    font-family: cursive;

}   

.sem-details {
  display: none; /* hide all by default */
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fafafa;
}

.nxtwave-content:hover {
    background-color: #d0d0ff;
}
.nxtwave-content p:hover {
    color: #0000ff;
}

/* this is for the semester details */

.sem-box {
    height: 50px;
    width: 300px;
    background-color: #F2E9E4;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #22223B;
    font-family: cursive;
}