.page-content{
    width: 100%;
    height: auto;
    background-color: #9A8C98;
}
.content-logo {
    height: 80px;
    width: auto;
}
.content-logo img {
    height: 80px;
    width: auto;
    margin-left: 10px;
}
.content-topics{
    height: auto;
    width: 95%;
    margin: 10px;
    border-radius: 10px;
    background-color: #C9ADA7;
    
}
.content-topic{
    height: 80px;
    width: 98%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #F2E9E4;
    align-items: center;
    display: flex;
    padding: 10px;
}
.content-topic p{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    font-family: cursive;
}

.content-btn{
    height: 90%;
    width: 50%;
    margin-left: auto;
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #22223B;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
